.building-sheet .window-header {
  background-color: var(--base-color);
  background-blend-mode: multiply;
}

.building-sheet .window-content {
  padding-top: 0px;
  background-color: var(--base-color);
  background-blend-mode: multiply;
}

.building-sheet .window-content form {
  background-color: var(--background-color);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-blend-mode: multiply;
}

.building-sheet .image {
  max-width: 100px;
  cursor: pointer;
}

.building-sheet .description,
.building-sheet .influentialPeople,
.building-sheet .notes,
.building-sheet .editor {
  min-height: 200px;
}

.building-sheet .header {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 0;
}

.building-sheet .field-title {
  text-align: center;
}

.building-sheet .core-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.building-sheet .name {
  flex-grow: 1;
}

.building-sheet .name input {
  font-size: 1.5em;
  width: 100%;
  height: 50px;
}

.building-sheet .sheet-tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  max-height: 30px;
  margin-left: -10px;
  margin-right: -10px;
  background: linear-gradient(0.0turn, var(--base-gradient-1), var(--base-gradient-2), var(--base-gradient-1));
}

.building-sheet .sheet-tabs .item {
  cursor: pointer;
  padding: 10px;
  color: var(--navbar-font-color);
}

.building-sheet .tabs > [data-tab].active {
  text-shadow: 0 0 10px var(--link-highlight);
  font-weight: bold;
}

.building-sheet .sheet-body {
  margin-top: 20px;
}

.building-sheet .tab {
  display: none;
}

.building-sheet .tab.active {
  display: block;
}

.building-sheet .tracker {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.building-sheet .tracker .title {
  display: block;
  font-weight: bold;
  text-align: center;
}

.building-sheet .tracker .content {
  width: 100%;
  text-align: center;
}

.building-sheet .tracker .content input {
  max-width: 100px;
}

.building-sheet .tox.tox-tinymce {
  height: 240px !important;
}
