@import url("./settlement-sheet.css");
@import url("./building-sheet.css");

/* Base Foundry Colours */
:root {
  --settlement-sheet-base-color: #74747480;
  --settlement-sheet-background-color: #f0e9dd;
  --settlement-sheet-navbar-text-color: #f0f0e0;
  --settlement-sheet-navbar-link-highlight: #fc2020;
  --settlement-sheet-navbar-gradient-1: #272727a4;
  --settlement-sheet-navbar-gradient-2: #1f1f1fa4;
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
    padding: 0;
}

.grid-3col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
