/* General sheet styling */
.settlement-sheet .window-header {
  background-color: var(--settlement-sheet-base-color);
  background-blend-mode: multiply;
}

.settlement-sheet .window-content {
  padding-top: 0px;
  background-color: var(--settlement-sheet-base-color);
  background-blend-mode: multiply;
}

.settlement-sheet .window-content form {
  background-color: var(--settlement-sheet-background-color);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-blend-mode: multiply;
}

.settlement-sheet .sheet-body {
  margin-top: 20px;
}

/* Header */
.settlement-sheet .header {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 0;
}

.settlement-sheet .header .image {
  max-width: 100px;
  cursor: pointer;
}

.settlement-sheet .field-title {
  text-align: center;
}

.settlement-sheet .core-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settlement-sheet .name {
  flex-grow: 1;
}

.settlement-sheet .name input {
  font-size: 1.5em;
  width: 100%;
  height: 50px;
}

/* Navbar */
.settlement-sheet .sheet-tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  max-height: 30px;
  margin-left: -10px;
  margin-right: -10px;
  background: linear-gradient(0.0turn, var(--settlement-sheet-navbar-gradient-1), var(--settlement-sheet-navbar-gradient-2), var(--settlement-sheet-navbar-gradient-1));
}

.settlement-sheet .sheet-tabs .item {
  cursor: pointer;
  padding: 10px;
  color: var(--settlement-sheet-navbar-text-color);
}

.settlement-sheet .tabs > [data-tab].active {
  text-shadow: 0 0 10px var(--settlement-sheet-navbar-link-highlight);
  font-weight: bold;
}

.settlement-sheet .tab {
  display: none;
}

.settlement-sheet .tab.active {
  display: block;
}

/* Buildings Page */
.settlement-sheet .buildings-list ul {
  list-style-type: none;
  padding: 0;
}

.settlement-sheet .buildings-list ul li {
  margin-bottom: 5px;
}

.settlement-sheet .building {
  margin-bottom: 20px;
}

.settlement-sheet .building h3 {
  margin-top: 0;
}

.settlement-sheet .building .trackers {
  display: flex;
  gap: 10px;
}

.settlement-sheet .building .tracker {
  flex: 1;
}

/* TextEditor Styling and adjustments */
.settlement-sheet .description,
.settlement-sheet .influential-people,
.settlement-sheet .editor {
  min-height: 200px;
}

.settlement-sheet .description .tox.tox-tinymce,
.settlement-sheet .influential-people .tox.tox-tinymce,
.settlement-sheet .editor .tox.tox-tinymce {
  height: 200px !important;
}

.settlement-sheet .influential-people .tox.tox-tinymce {
  height: 240px !important;
}

.settlement-sheet .note .tox.tox-tinymce {
  height: 250px !important;
}

.settlement-sheet .editable .editor {
  overflow: visible;
}

.settlement-sheet .editable .overview .editor .editor-edit,
.settlement-sheet .editable .note .editor .editor-edit {
  display: block;
}

.settlement-sheet .editable .overview .editor .editor-edit {
  top: -36px;
}

.settlement-sheet .editable .note .editor .editor-edit {
  top: -43px;
}

/* Trackers */
.settlement-sheet .trackers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settlement-sheet .tracker {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.settlement-sheet .tracker .title {
  display: block;
  font-weight: bold;
  text-align: center;
}

.settlement-sheet .tracker .content {
  width: 100%;
  text-align: center;
}

.settlement-sheet .tracker .content input {
  max-width: 100px;
}

.settlement-sheet .building-header {
  display: flex;
  justify-content: space-between;
}

.settlement-sheet .open-building {
  cursor: pointer;
}

.settlement-sheet .add-building {
  text-align: center;
  cursor: pointer;
  max-width: 250px;
  margin: auto;
}

.settlement-sheet .remove-building {
  cursor: pointer;
}