<div class="tab note" data-group="primary" data-tab="notes">
  <h2>{{localize 'settlement-sheets.PublicNotes'}}</h2>
  <div class="public-notes">
    {{editor actor.system.note.public target="system.note.public" button=true editable=editable}}
  </div>

  <h2>{{localize 'settlement-sheets.PrivateNotes'}}</h2>
  <div class="private-notes">
    {{editor actor.system.note.private target="system.note.private" button=true editable=editable}}
  </div>
</div>
