<div class="tab" data-group="primary" data-tab="notes">
  <h2>{{localize 'settlement-sheets.Notes'}}</h2>
  <div class="notes">
    {{editor actor.system.notes target="system.notes" button=true editable=editable}}
  </div>
</div>
